#card {
    border-top: 3px solid rgb(201, 188, 188);
    /* color: white; */
    font-size: 12pt;
    background-color: white;
    /* border: 1px solid black; */
    padding: 10;
  }
  
  #card #title {
    font-size: 14pt;
  }
  
  #card #title,
  #card #subtitle {
    /* color: white; */
    padding: 5px;
  }

  QWidget {
    /* border: 1px solid black; */
  }

  #save-btn {
    /* font-family: "FontAwesome"; */
    font-weight: 400;
    font-size: 16px;
    /* qproperty-text: ; */
  }

  #root-layout, #container-layout{
    /* margin:10; */
    /* padding:10; */
  }

  #card-toolbar {
    max-height: 30px;
  }

