#window,
#list-view,
#toolbar,
#items,
#card {
  /* background-color: white; */
  /* color: white; */
  background-color: white;
}


QListView,
QListView::item {
  background-color: white;
}

#list-view{
  min-width: 500px;
}

#list-view QScrollBar {
  background-color: white;
}

#list-view QScrollBar:vertical {
  background-color: white;
  width: 10px;
  margin: 15px 3px 15px 3px;
  border: 1px transparent #2a2929;
  border-radius: 2px;
}
#list-view QScrollBar::up-arrow:vertical,
#list-view QScrollBar::down-arrow:vertical {
    background-color: black;
}

#list-view QScrollBar::add-line:vertical, #list-view QScrollBar::sub-line:vertical{
    background-color: gray;
    height: 0px;
    width: 0px;
}

#list-view QScrollBar::handle:vertical {
  background-color: gray;
  min-height: 60px;
  border-radius: 2px;
}

#list-view QScrollBar:vertical:hover {
  /* width: 8px; */
  margin: 15px 2px 15px 2px;
  border-radius: 4px;
}

#search-box {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

#list-message{
  qproperty-alignment: AlignTop;
  font-size: 13pt;
}